<% layout("/layouts/boilerplate") %>

    <body>
        <h2>All Listings</h2>
        <!-- <form method="GET" action="/listings/new">
        <button>Create new Listing </button>
        </form> -->
        <div class="row">
            <% for(let listing of allListings) { %>
                <div class=" card listing-card" style="width: 20rem;">
                    <a href="/listings/<%= listing._id %>" class="card-link">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %>
                            </p>
                        </div>
                    </a>
                </div>
                <%}%>
        </div>
    </body>