<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Create a new Listing</h2>
            <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Add a catchy title" name="listing[title]" class="form-control"
                        required>
                    <div class="invalid-feedback">Please enter title</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                    <div class="invalid-feedback">Please upload image</div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" placeholder="1800" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">Please enter price</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" placeholder="Jaipur, Rajasthan" name="listing[location]" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter location</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" placeholder="India" name="listing[country]" class="form-control" required>
                    <div class="invalid-feedback">Please enter country name</div>
                </div>


                <div class="tag-container mb-3">
                    <p>Select Related tags</p>
                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Trending">
                        <div class="tag ">
                            <i class="fa-solid fa-fire"></i>Trending
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Rooms">
                        <div class="tag ">
                            <i class="fa-solid fa-bed"></i>Rooms
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Iconic cities">
                        <div class="tag ">
                            <i class="fa-solid fa-tree-city"></i>Iconic cities
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Mountains">
                        <div class="tag ">
                            <i class="fa-solid fa-mountain-sun"></i>Mountains
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Beach">
                        <div class="tag ">
                            <i class="fa-solid fa-umbrella-beach"></i>Beach
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Pools">
                        <div class="tag ">
                            <i class="fa-solid fa-person-swimming"></i>Amazing pool
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Camping">
                        <div class="tag ">
                            <i class="fa-solid fa-tents"></i>Camping
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Farms">
                        <div class="tag ">
                            <i class="fa-solid fa-tractor"></i>Farms
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Free-wifi">
                        <div class="tag ">
                            <i class="fa-solid fa-wifi"></i>Free Wi-Fi
                        </div>
                    </label>


                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="School">
                        <div class="tag ">
                           <i class="fa-solid fa-igloo"></i>Domes
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Horror">
                        <div class="tag ">
                            <i class="fa-solid fa-ghost"></i>Horror
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Snow">
                        <div class="tag ">
                            <i class="fa-solid fa-snowflake"></i>Snow
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Volcano">
                        <div class="tag ">
                            <i class="fa-solid fa-volcano"></i>Volcano
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Church">
                        <div class="tag ">
                            <i class="fa-solid fa-church"></i>Near Church
                        </div>
                    </label>

                    <label>
                        <input class="hide" type="checkbox" name="listing[tags]" value="Earth">
                        <div class="tag ">
                            <i class="fa-solid fa-ship"></i>Boats
                        </div>
                    </label>
                </div>

                <button class="btn btn-dark add-btn mt-3">Add</button>
                <br><br>
            </form>
        </div>
    </div>